
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]= "form"> 

    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" placeholder="Seu nome aqui" formControlName="name"></ion-input>
    </ion-item>
  <ion-item *ngIf="!form.controls.name.valid && (form.controls.name.dirty || form.controls.name.touched)" color = "danger">
    <div [hidden]="!form.controls.name.errors.required">
      O campo é obrigatório
    </div>
  </ion-item>


  <ion-item>
    <ion-label stacked>Endereço</ion-label>
    <ion-input type="text" formControlName="endereco"></ion-input>
  </ion-item>
  <ion-item *ngIf="!form.controls.endereco.valid && (form.controls.endereco.dirty || form.controls.endereco.touched)" color ="danger">
    <div [hidden]="!form.controls.endereco.errors.required">
      O campo é obrigatório      
    </div>
  </ion-item> 

  <ion-item>
    <ion-label stacked>Dia de Validade</ion-label>
    <ion-input type="num" placeholder="DD" formControlName="dia" maxlength="2"></ion-input>
  </ion-item>
  <ion-item *ngIf="!form.controls.dia.valid && (form.controls.dia.dirty || form.controls.dia.touched)" color = "danger">
  <div [hidden]="!form.controls.dia.errors.required">
    O campo é obrigatório
  </div>
</ion-item>

<ion-item>
  <ion-label stacked>Mês de Validade</ion-label>
  <ion-input type="num" placeholder="MM" formControlName="mes" maxlength="2"></ion-input>
</ion-item>
<ion-item *ngIf="!form.controls.mes.valid && (form.controls.mes.dirty || form.controls.mes.touched)" color = "danger">
<div [hidden]="!form.controls.mes.errors.required">
  O campo é obrigatório
</div>
</ion-item>

<ion-item>
  <ion-label stacked>Ano de Validade</ion-label>
  <ion-input type="num" placeholder="AA" formControlName="ano" maxlength="2"  ></ion-input>
</ion-item>
<ion-item *ngIf="!form.controls.ano.valid && (form.controls.ano.dirty || form.controls.ano.touched)" color = "danger">
<div [hidden]="!form.controls.ano.errors.required">
  O campo é obrigatório
</div>
</ion-item>

<ion-item>
  <ion-label stacked>Preço antes da promoção</ion-label>
  <ion-input type="num" placeholder="28,40" formControlName="precoantes"></ion-input>
</ion-item>
<ion-item *ngIf="!form.controls.precoantes.valid && (form.controls.precoantes.dirty || form.controls.precoantes.touched)" color = "danger">
<div [hidden]="!form.controls.precoantes.errors.required">
  O campo é obrigatório
</div> 
</ion-item>

<ion-item>
  <ion-label stacked>Preço depois da promoção</ion-label>
  <ion-input type="num" placeholder="17,35" formControlName="precodepois"></ion-input>
</ion-item>
<ion-item *ngIf="!form.controls.precodepois.valid && (form.controls.precodepois.dirty || form.controls.precodepois.touched)" color = "danger">
<div [hidden]="!form.controls.precodepois.errors.required">
  O campo é obrigatório
</div>
</ion-item>



  
  
<div padding>
  <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>  
</div>

  
  </form>

</ion-content>
